/*
    Universidad del Valle de Guatemala
    Andrea Maria Cordon Mayen
    Carne: 16077
    Fecha de entrega: 08/07/2018
    lab1.css
*/

/*Indica tipo de letra de toda la pagina*/
body{
    font-family: sans-serif;
}

/*Partes de la barra de hasta arriba*/
.bar{
    background: #171e27;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

img {
    height: 55px;
    width: 310px;
    margin-left: 355px;
    margin-top: 10px;
}

input {
    height: 40px;
    width: 310px;
    margin-left: 470px;
    margin-top: 15px;
    background-color: #171e27;
    color: gray;
    position: absolute;
    font-size: 14;
}

button {
    background: green;
    color: white;
    position: absolute;
    margin-left: 800px;
    margin-top: 15px;
    height: 40px;
    width: 100px;
    font-size: 14;

}

p {
    color: gray;
    position: absolute;
    margin-left: 1600px;
    margin-top: -40px;
    font-size: 14;
}
    
/*Segunda Seccion*/
firstSecion{
    background: #171e27;
    height: 500px;
    width: 100px;
    position: relative;
    top: 70px;
    left: 0%;

}
